@import "tailwindcss";

@theme {
  /*TT Commons*/
  --font-ttcommonsmd: "TT Commons Medium","sans-serif";
  --font-ttcommonsreg: "TT Commons Regular","sans-serif";
}



@font-face{
  font-family: 'Recoleta Regular';
  src: url('/fonts/Recoleta-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face{
  font-family: 'Recoleta Medium';
  src: url('/fonts/Recoleta-Regular.otf') format('opentype');
  font-weight: 500;
}

@font-face{
  font-family: 'Recoleta Light';
  src: url('/fonts/Recoleta-Regular.otf') format('opentype');
  font-weight: 300;
}


@font-face{
  font-family: 'DM Sans ExtraBold';
  src: url('/fonts/DMSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

@font-face{
  font-family: 'DM Sans Bold';
  src: url('/fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 800;
}

@font-face{
  font-family: 'DM Sans Regular';
  src: url('/fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Sangbleu King';
  src: url('/fonts/SangBleu-King.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Sangbleu Light';
  src: url('/fonts/SangBleuSans-Li.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sangbleu Regular';
  src: url('/fonts/SangBleuSans-Reg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('/fonts/SnellRoundhand.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jaquel Light';
  src: url('/fonts/Jaquel-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jaquel Regular';
  src: url('/fonts/Jaquel-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* landingpage */
@font-face {
  font-family: 'Romie';
  src: url('/fonts/Romie-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTCommons-Regular';
  src: url('/fonts/TTCommons/TTCommons-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTCommons-Medium';
  src: url('/fonts/TTCommons/TTCommons-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}